@CHARSET "US-ASCII";
.class_edit_election_users, .class_new_election_users {
	height: 14em;	
	overflow:auto;
	resize:vertical;
}

.class_new_election_description, .class_edit_election_description {
	height: 5em;	
	overflow:auto;
	resize:vertical;
}

.class_new_election_candidates, .class_edit_election_candidates {
	height: 5em;	
	overflow:auto;
	resize:vertical;
}

.class_text_cipher, .class_edit_election_users {
	overflow:auto;
	resize:vertical;
}

.class_text_signature {
	height: 8em;
	overflow:auto;
	resize:vertical;	
}

.label.election_new {
	background-color: white;
	color: black; 	
}

.label.election_open {
	background-color: #85ad33;
	color: white; 	
}

.label.election_closed {
	background-color: #ff5959;
	color: white; 	
}

.label.election_published {
	background-color: #b2d1f0;
	color: black; 	
}

.label.clear {
	background-color: transparent;
	color: black;
}


.label.button_link {
	background-color: transparent;
	color: #008cba;
}

.label.button_link:hover {
	background-color: #008cba;
	color: white;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background-color: transparent;
    background: transparent;
}

.class_type_bold {
	font-weight: bold;
}

.election_new {
	background-color: white;
}

.election_open {
	background-color: #abdca4;
}

.election_closed {
	background-color: #efb5ab;
}

.election_published {
	background-color: #e0f2f7;
}

.global_margin_bottom {
	margin-bottom: 15px;
}

.global_margin_top {
	margin-top: 15px;
}

.panel.clear {
	background-color: transparent;
	border-bottom:none;
	border-right:none;	
	border-left:none;
}

.panel.clearnb {
	background-color: transparent;
	border:none;
}


.has-tip {
	font-weight: normal;
	color: #777;
	font-size: 0.6875rem;
	border-bottom: none;
}

.has-tip:hover {
	border-bottom: none;
}

.global_warning {
	color: #f04124;
}

.global_th_election_name {
	
}

.global_th_election_action {
	
}

