@CHARSET "US-ASCII";
.class_new_election_description {
	height: 8em;	
	overflow:auto;
	resize:vertical;
}

.class_new_election_candidates {
	height: 14em;	
	overflow:auto;
	resize:vertical;
}

.class_edit_election_description {
	height: 8em;	
	overflow:auto;
	resize:vertical;
}

.class_edit_election_candidates {
	height: 14em;	
	overflow:auto;
	resize:vertical;
}

.class_text_cipher {
	overflow:auto;
	resize:vertical;
}

.class_text_signature {
	height: 8em;
	overflow:auto;
	resize:vertical;	
}


.label.election_new {
	background-color: white;
	color: black; 	
}

.label.election_open {
	background-color: #85ad33;
	color: white; 	
}

.label.election_closed {
	background-color: #ff5959;
	color: white; 	
}

.label.election_published {
	background-color: #b2d1f0;
	color: black; 	
}

.label.button_link {
	background-color: transparent;
	color: #008cba;
}

.label.button_link:hover {
	background-color: #008cba;
	color: white;
}


